.advantages {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-5.53deg,#f2f2f2 83.82%,#fff 83.84%);
}

.advantages__title {
  min-height: 250px;
}

.advantages__images {
  width: 87.5%;
  margin: 0 auto;
  margin-top: 70px;
}
.advantages__pictures--gray,
.advantages__pictures--change {
  display: none;
}

.advantages__paragraf {
  font-size: 24px;
  text-align: center;
}

.advantages__descriptions {
  width: 87.5%;
}

.advantages__pictures--smiley {
  background-image: url(../img/mobile-smiley.png);
  width: 157px;
  height: 320px;
  margin: 0 auto;
  background-position-y: 40px;
  background-repeat: no-repeat;
}

.advantages__effect {
  display: none;
}

@media (min-width: 660px) {
  .advantages {
    background: linear-gradient(-5.53deg,#f2f2f2 63.82%,#ffffff 63.84%);
  }

  .advantages__title {
    width: 94%;
    margin: 0 auto;
    padding: 46px 0;
  }
  .advantages__paragraf {
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 5px;
  }
  .advantages__paragraf:first-child br {
    display: none;
  }
  .advantages__images {
    position: absolute;
    width: 94%;
    margin-top: 0;
  }
  .advantages__images--wrapper {
    height: 481px;
  }
  .advantages__description {
    width: 320px;
    padding-left: 10px;
    margin-left: auto;
}
  .advantages__pictures {
    position: absolute;
    margin-left: 20px;
    top: -66px;
  }
  .advantages__pictures--smiley {
    background-image: url(../img/mobile-smiley-tab.png);
    width: 268px;
    height: 547px;
    background-position-y: 65px;
  }
  .advantages__effect {
    display: block;
    height: 400px;
  }
  .advantages__timer--desktop {
    display: none;
  }
  .advantages__effect--wrapper {
    width: 94%;
    margin: 0 auto;
    padding: 58px 0;
    display: flex;
    justify-content: space-between;
  }
  .advantages__effect-image {
    width: 238px;
    height: 276px;
  }
  .advantages__effect-text {
    width: 310px;
    margin-top: 40px;
  }
  .advantages__effect-title {
    display: block;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 15px;
  }
  .advantages__effect-description {
    display: block;
    margin: 0 0 15px;
    line-height: 24px;
  }
  .advantages__effect-link {
    color: #d22856;
  }
}
@media (min-width: 960px) {
  .advantages__title {
    width: 940px;
  }
  .advantages__paragraf {
    font-size: 50px;
  }
  .advantages__images {
    width: 940px;
    display: flex;
    flex-direction: column-reverse;
  }
  .advantages__description {
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding: 0;
  }
  .advantages__pictures {
    display: flex;
    justify-content: space-between;
    position: static;
    top: 0;
    margin: 0;
  }
  .advantages__images--wrapper {
    min-height: 620px;
    width: 940px;
    margin: 0 auto
  }
  .advantages__pictures--gray,
  .advantages__pictures--change {
    display: block;
  }
  .advantages__pictures--gray,
  .advantages__pictures--change,
  .advantages__pictures--smiley {
    width: 292px;
    height: 302px;
  }
  .advantages__pictures--gray {
    background-image: url(../img/iphone-screen-1.png);
  }
  .advantages__pictures--change {
    background-image: url(../img/iphone-screen-2.png);
  }
  .advantages__pictures--smiley {
    background-image: url(../img/iphone-screen-3.png);
    background-position-y: 0;
    margin: 0;
  }
  .advantages__effect {
    min-height: 415px;
  }
  .advantages__effect--wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
  .advantages__timer--desktop {
    display: block;
  }
  .advantages__timer--tablet {
    display: none;
  }
  .advantages__effect-image {
    width: 298px;
    height: 345px;
  }
  .advantages__effect-text {
    width: 570px;
  }
} 