@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff");
}
@font-face{
  font-family: 'Open Sans Light';
  font-style: normal;
  src: url("../fonts/OpenSans-Light.woff");
}
@font-face{
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff");
}
