*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #283645;
  font-style: normal;
  min-width: 320px;
}

.visually-hidden {
  display: none;
}

.logo--show {
  display: none;
}

.mobile-hidden {
  display: none;
}