/* ==========================================================================
	 CHECKBOXES
	 ===========================================================================*/
.checkbox{
	position: relative;
	display: block;
}
.checkbox__input{
	position: absolute;
	z-index: 2;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	&:checked{
		~ .checkbox__label{
			&:before{
				background: #fff url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2022%2015%22%3E%3Cpath%20d%3D%22M7.5%2014.5c-.3%200-.7-.1-.9-.3L.7%209.5C0%209-.1%208.1.4%207.4s1.5-.8%202.1-.3L7.4%2011l11.1-9.9c.6-.6%201.6-.5%202.1.1.6.6.5%201.6-.1%202.1L8.5%2014c-.3.3-.6.5-1%20.5z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
				background-size: 20px;
				background-position: center center;
			}
		}
	}
}
.checkbox__label{
	position: relative;
	display: inline-block;
	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 23px;
		height: 23px;
		background-color: #ededed;
	}
}
.checkbox_center{
	margin-top: 20px;
	margin-bottom: 10px;
	min-height: 23px;
	text-align: center;
	.checkbox__label{
		display: inline-block;
	}
}
/* end checkbox */